<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Visualization
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Data Visualization</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="ion-padding">
      
      <ion-card>
        <ion-card-header>
          Line Chart of age vs charges{{showData}}
        </ion-card-header>
        <ion-card-content>
          <canvas #agechargesLineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Line Chart of age vs bmi {{showData}}
        </ion-card-header>
        <ion-card-content>
          <canvas #agebmiLineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Bar Chart of age vs charges
        </ion-card-header>
        <ion-card-content>
          <canvas #agechargesBarCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Bar Chart of age vs bmi
        </ion-card-header>
        <ion-card-content>
          <canvas #agebmiBarCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Doughnut Chart of age vs charges
        </ion-card-header>
        <ion-card-content>
          <canvas #agechargesdoughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Doughnut Chart of age vs bmi
        </ion-card-header>
        <ion-card-content>
          <canvas #agebmidoughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>


    </div>

</ion-content>
